@use './partials/variables' as *;

$fa-font-path: "../webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body{
    background-color: $color-bg;
}
header{
    background-color: $color-primary;
}

main{
    .danger{
        width: 20px;
        height: 20px;
        background-color: $color-primary;
        border-radius: 50%;
    }
    .warning{
        width: 20px;
        height: 20px;
        background-color: $color-warning;
        border-radius: 50%;
    }
    .deleted{
        text-decoration: line-through;
        color: $color-primary;
    }

}

