$color-primary: rgb(229, 19, 19);
$color-warning: #ffe97b;
$color-pink: #ee6542;
$color-dark:#303030;
$color-dark-blue:#1c4a6b;
$color-blue:#5eaeeb;

$font-primary:'Comfortaa', sans-serif;
$font-title: 'Pacifico', cursive;


